---
nodes:
- address: {{ ip_master }}
  user: root
  role: [controlplane, etcd, worker ]
- address: {{ ip_worker1 }}
  user: root
  role: [worker]
- address: {{ ip_worker2 }}
  user: root
  role: [worker]
ssh_agent_auth: true
ssh_key_path: ~/.ssh/id_rsa
kubernetes_version: v1.24.10-rancher4-1
network:
  plugin: calico
  options:
    calico_network_policy: "true"
    calico_ipv4pool: "192.168.0.0/16"
ingress:
    provider: nginx
    options:
      use-forwarded-headers: "true"
monitoring:
    provider: metrics-server
    options: {}
